In [7]:
#Exercise 1: Create a Jupyter Notebook

In [ ]:
## Exercise 2 - Create a markdown cell with the title of the notebook. (1 pt)

# DataScienceEcosystem

In [4]:
# Exercise 3 - Create a markdown cell for an introduction. (1 pt)

In this notebook, Data Science Tools and Ecosystem are summarized.

## Objectives:
* Create a Jupyter Notebook
* Insert code and markdown cells
* Share your notebook through GitHub

In [5]:
# Exercise 4 - Create a markdown cell to list data science languages. (3 pts)

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

In [ ]:
# Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
3. SciPy
4. Pandas
5. Matplotlib

In [ ]:
# Exercise 6 - Create a markdown cell with a table of Data Science tools

| Data Science tools |
| -------------|
| Apache Spark |
| BigML |
| Jupyter Notebook |

In [13]:
# Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

In [9]:
5+5

10

In [10]:
8*9

72

In [11]:
9/3

3.0

In [12]:
# Exercise 8 - Create a code cell to multiply and add numbers

In [15]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [16]:
# Exercise 9 - Create a code cell to convert minutes to hours

In [18]:
days = 0
hours = 0
mins = 0

# This will convert 200 minutes to hours by diving by 60

time = 200
#days = time / 1440
leftover_minutes = time % 1440
hours = leftover_minutes / 60
#mins = time - (days*1440) - (hours*60)
print(str(days) + " days, " + str(hours) + " hours, " + str(mins) +  " mins. ")

0 days, 3.3333333333333335 hours, 0 mins.

In [19]:
# Exercise 10 -Insert a markdown cell to list Objectives.

In [20]:
# Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name.

## Author:
Darshan Purani